
.site-content-name {
	max-width: 1100px;
	height: 100vh;
  margin-top: -10rem;
	margin-left: 3rem;
	margin-right: auto;
  margin-bottom: -51rem;
	display: flex;
	align-items: center;
  font-weight: 200;
  color: #dadada;
  font-size: calc(1vw + 5px);
}


.site-content_headline {
	max-width: 1100px;
	height: 100vh;
  margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
  margin-bottom: -26rem;
	display: flex;
	align-items: center;
  font-weight: 200;
  color: #948a8a;
  font-size: calc(2vw + 50px);
}

.hero {
  background: rgb(255, 255, 255);
  .container {
    @media (min-width: 360px) {
      padding: 0 30px;
    }
    @media (min-width: 768px) {
      padding: 0 100px;
    }
    @media (min-width: 1024px) {
      padding: 0 120px;
    }
    @media (min-width: 1200px) {
      padding: 0 150px;
    }
    @media (min-width: 1350px) {
      padding: 0 180px;
    }
    @media (min-width: 1600px) {
      padding: 0 220px;
    }
    @media (min-width: 1800px) {
      padding: 0 270px;
    }

    .hero-inner {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-self: center;
      .hero-inner-col {
        &.left {
          display: none;
        }
        &.right {
        }
        .hero-inner-title {
          h1 {
            margin: 0;
            font-weight: 400;
            @media (min-width: 1800px) {
              font-size: 28px;
            }
          }
        }
        .hero-inner-links {
          position: absolute;
          display: flex;
          max-width: 0px;
          margin-top: -25rem;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 10rem;
          text-align: center;
          .hero-inner-link-item {
            .hero-inner-link-item-padding {
              &:before {
                content: "";
                display: block;
                top: -30vh;
                left: 0;
                right: 0;
              }
            }
            a {
              align-items: center;
              justify-content: center;
              font-weight: lighter;
              color: #303030;
              font-size: calc(2vw + 20px);
              padding: 30px 30px;
              text-decoration: none;
              color: transparent;
              transition: color 0.3s, -webkit-text-stroke 0.3s;
              -webkit-text-stroke: 1px #303030;
              &:hover {
                color: #303030;
                -webkit-text-stroke: 1px transparent;
              }
              span {
                line-height: 1.1;
                font-weight: 700;
                text-shadow: none;
                font-size: 5.8vw;
              }
            }
            &:first-child {
              a {
                padding-left: 0;
              }
            }
            &:last-child {
              a {
                padding-right: 0;
              }
            }
          }
        }
      }
    }
    .hero-inner-footer {
      margin-left:  -300px;
      margin-right: -300px;
      .hero-inner-footer-text {
        p {
          max-width: 1100px;
          margin-top: -350px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 200;
          color: #fafafa;
          border-radius: 10px;
          font-size: calc(2vw + 20px);
        }
      }
    }
  }

  .darkmode {
    position: relative; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    background: url(/images/hero.jpg) no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .frameworks-section {
    .frameworks-text {
      p {
        max-width: 1100px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 200;
        color: #303030;
        border-radius: 10px;
        font-size: calc(2vw + 20px);
      }
    }
  }

}